.body-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); 
  width: 300px;
}

.form-group {
  text-align: center;
  margin-bottom: 20px;
}

.form-control {
  border: 2px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s;
  width: 100%;
  padding: 8px;
}

#usercheck,
#emailcheck,
#passcheck,
#confirmpasscheck {
  color: red;
  font-size: 14px;
  display: none;
  margin: 5px 0;
  transition: opacity 0.6s;
}

#submitbtn {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#submitbtn:hover {
  background-color: #b30000;
}

.calc-head {
  text-align: center;
  font-size: 24px;
  color: #007bff;
  margin-bottom: 10px;
}

.text-center {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

#submitbtn:disabled {
  background-color: #ccc;
  color: #888;
  text-decoration: line-through;
}